<%- include ("partials/header") %>

<div class="container config" >
    <h1 class="text-center">Edit your Home Page Configuration</h1>
    <form action="/home/<%= setup._id %>?_method=PUT" method="POST">
        <div class="row justify-content-center">
            <input name="config[name]" type="text" value="<%=setup.name%>" placeholder="What should be your new name?">
        </div>
        <div class="row justify-content-center">
            <input name="config[quote]" type="text" value="<%=setup.quote%>" placeholder="Type here the new quote">
        </div>
        <div class="row justify-content-center">
            <button>Submit!</button>
        </div>
         <!--DELETE CONFIG -->
        <div class="d-flex row justify-content-center landing-header">
            <form action="/home/<%= setup._id %>?_method=DELETE" method="POST">
                <button style="width: 200px;">DELETE THIS CONFIG</button>
            </form> 
        </div>
    </form>
</div>

<%- include ("partials/footer") %>