<%- include ("partials/header") %>

<div class="container config" >
    <h1 class="text-center">Edit your Homepage <%= setup.name %>!</h1>
    <form action="/home/<%= setup._id %>?_method=PUT" method="POST">
        <div class="row justify-content-center">
            <label for="name">Did your name changed maybe?</label>
        </div>
        <div class="row justify-content-center">
            <input name="config[name]" type="text" value="<%=setup.name%>">
        </div>
        <div class="row justify-content-center">
            <label for="quote">What's your favorite quote?</label>
        </div>
        <div class="row justify-content-center">
            <input name="config[quote]" type="text" value="<%=setup.quote%>">
        </div>
        <div class="row justify-content-center">
            <button>Submit!</button>
        </div>
    </form>
            <!--DELETE CONFIG -->
            <div class="landing-header">
                <form action="/home/<%= setup._id %>?_method=DELETE" method="POST">
                    <button>DELETE THIS CONFIG</button>
                </form> 
            </div>
</div>

<%- include ("partials/footer") %>